{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y ">
  <div class="container">
    <div class="mt-5 mb-5"><h3 class="text-center"><span class="text-success">change</span>Password</h3></div>
    <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
              <a class="list-group-item" href="{% url 'manager_dashboard' %}"> <b class="text-success">Dashboard</b></a>
              <a class="list-group-item" href="{% url 'manage_user' %}"><b class="text-success"> User Management</b></a>
              <a class="list-group-item" href="{% url 'manage_product' %}"><b class="text-success">Product Management</b></a>
              <a class="list-group-item" href="{% url 'manage_order' %}"><b class="text-success">Order Management</b></a>
              <a class="list-group-item" href="{% url 'manage_variation' %}"><b class="text-success">Variation Management</b></a>
              <a class="list-group-item" href="{% url 'admin_orders' %}"><b class="text-success">My Orders</b></a>
              <a class="list-group-item" href="{% url 'admin_change_password' %}"><b class='text-success'>Change Password</b></a>
            </ul>
            <br />
            <a class="btn btn-outline-danger btn-block" href="{% url 'manager_logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
      <main class="col-md-9 card">
        <div class="mt-4 mb-3">
        {% if messages %}
         {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endfor %} {% endif %}
        <form action='{% url 'admin_change_password' %}' method='POST'>
          {% csrf_token %}
          <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Enter current password" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" />
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter confirm password" />
          </div>
          <div class="d-flex justify-content-center"><button type="submit" class="btn btn-success">Submit</button></div>
        </form>
       </div>
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}