{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <div class="mt-3 mb-5"><h3 class="text-center"><span class="text-success">Edit</span>Product</h3></div>
    <div class="row d-flex justify-content-center">
        
      <div class="col-8 card">
        <div class="mt-4 mb-4">
        <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_name">Product Name</label>
              {{ form.product_name }}
            </div>
            <div class="form-group col-md-6">
              <label for="product_slug">Product Slug</label>
              {{ form.slug }}
              <small id="product_slug" class="form-text text-muted">Format :-name : Tommy Hilfiger Watch , slug : tommy-hilfiger-watch </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="product_price">Product Price</label>
              {{ form.price }}
            </div>
            <div class="form-group col-md-6">
              <label for="product_image">Product Image</label>
              {{ form.image }}
            </div>
            <div class="form-group col-md-6">
              <label for="product_stock">Product Stock</label>
              {{ form.stock }}
            </div>
            <div class="form-group col-md-6">
              <label for="product_category">Category</label>
              {{ form.category }}
            </div>
            <div class="form-group col-md-6">
              <label for="id_is_available">Available</label>
              {{ form.is_available }}
            </div>
          </div>

          <div class="form-group">
            <label for="product_description">Product Description</label>
            {{ form.description }}
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}