<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y" test="blah">
	<div class="container">
		<p class="float-md-right mt-1"> 
			&copy Copyright 2022 All rights reserved
		</p>
		<p>

			<div class="d-flex justify-content-start"><i class="fa fa-clock"></i><a href="{% url 'home' %}"style="font-family: 'Stick No Bills', sans-serif;"  ><h4 class="logo text-success">ghedi<span class="text-dark">house</span></h4></a></div>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){

		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src',$(this).attr("href"));
		})
	})
</script> 
